<a href="https://colab.research.google.com/github/KinzaAslam/DSA_20SW071/blob/main/20sw071_PythonBasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Basic Types

# Integer
my_integer = 10
print("Integer:", my_integer)

# Float
my_float = 3.14
print("Float:", my_float)

# String
my_string = "Hello, World!"
print("String:", my_string)

# Boolean
my_boolean = True
print("Boolean:", my_boolean)

Integer: 10
Float: 3.14
String: Hello, World!
Boolean: True

In [3]:
#Container Types

# List
my_list = [1, 2, 3, 4, 5]
print("List:", my_list)

# Tuple
my_tuple = (1, 2, 3, 4, 5)
print("Tuple:", my_tuple)

# Dictionary
my_dictionary = {"name": "Kinza", "age": 20, "city": "Jamshoro"}
print("Dictionary:", my_dictionary)

# Set
my_set = {1, 2, 3, 4, 5}
print("Set:", my_set)

List: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)
Dictionary: {'name': 'Kinza', 'age': 20, 'city': 'Jamshoro'}
Set: {1, 2, 3, 4, 5}

In [4]:
#Identifiers

#identifier names
my_variable = 10
my_string = "Hello"
my_list = [1, 2, 3]

# Printing the identifier names
print("Valid identifier names:")
print("my_variable:", my_variable)
print("my_string:", my_string)
print("my_list:", my_list)

Valid identifier names:
my_variable: 10
my_string: Hello
my_list: [1, 2, 3]

In [5]:
#Variables Assignment

x = 5
y = 10
z = x + y
print("x:", x)
print("y:", y)
print("z:", z)

x: 5
y: 10
z: 15

In [6]:
#Conversions

# Integer to float conversion
my_integer = 10
my_float = float(my_integer)
print("Integer to Float:", my_float)

# Float to integer conversion
my_float = 3.14
my_integer = int(my_float)
print("Float to Integer:", my_integer)

# Integer to string conversion
my_integer = 5
my_string = str(my_integer)
print("Integer to String:", my_string)

# Float to string conversion
my_float = 3.14
my_string = str(my_float)
print("Float to String:", my_string)

# String to integer conversion
my_string = "10"
my_integer = int(my_string)
print("String to Integer:", my_integer)

# String to float conversion
my_string = "3.14"
my_float = float(my_string)
print("String to Float:", my_float)

Integer to Float: 10.0
Float to Integer: 3
Integer to String: 5
Float to String: 3.14
String to Integer: 10
String to Float: 3.14

In [7]:

#Sequence Containers Indexing

# List indexing
my_list = [1, 2, 3, 4, 5]
print("List:", my_list)
print("List indexing:")
print("Element at index 0:", my_list[0])
print("Element at index 2:", my_list[2])
print("Element at index -1:", my_list[-1])

# Tuple indexing
my_tuple = (6, 7, 8, 9, 10)
print("\nTuple:", my_tuple)
print("Tuple indexing:")
print("Element at index 0:", my_tuple[0])
print("Element at index 2:", my_tuple[2])
print("Element at index -1:", my_tuple[-1])

# String indexing
my_string = "Hello, World!"
print("\nString:", my_string)
print("String indexing:")
print("Character at index 0:", my_string[0])
print("Character at index 4:", my_string[4])
print("Character at index -1:", my_string[-1])

List: [1, 2, 3, 4, 5]
List indexing:
Element at index 0: 1
Element at index 2: 3
Element at index -1: 5

Tuple: (6, 7, 8, 9, 10)
Tuple indexing:
Element at index 0: 6
Element at index 2: 8
Element at index -1: 10

String: Hello, World!
String indexing:
Character at index 0: H
Character at index 4: o
Character at index -1: !

In [8]:
#Boolean Logic

# Boolean variables
a = True
b = False

# Boolean AND
result_and = a and b
print("a AND b:", result_and)

# Boolean OR
result_or = a or b
print("a OR b:", result_or)

# Boolean NOT
result_not_a = not a
result_not_b = not b
print("NOT a:", result_not_a)
print("NOT b:", result_not_b)

# Boolean XOR
result_xor = a ^ b
print("a XOR b:", result_xor)

# Comparison operators
x = 5
y = 10
greater_than = x > y
less_than = x < y
equal_to = x == y
not_equal_to = x != y
print("x > y:", greater_than)
print("x < y:", less_than)
print("x == y:", equal_to)
print("x != y:", not_equal_to)

a AND b: False
a OR b: True
NOT a: False
NOT b: True
a XOR b: True
x > y: False
x < y: True
x == y: False
x != y: True

In [9]:
#Modules/Names Import OR Maths

import math

# Square root
num = 16
sqrt = math.sqrt(num)
print("Square root of", num, "is", sqrt)

Square root of 16 is 4.0

In [10]:

#Exception On Errors

# Exception handling example
try:
    x = 10
    y = 0
    result = x / y
    print("Result:", result)
except ZeroDivisionError:
    print("Error: Division by zero!")
except Exception as e:
    print("An error occurred:", str(e))

Error: Division by zero!

In [11]:
#Conditional Loop Statement

# While loop statement block
counter = 0
print("\nCounting:")
while counter < 5:
    print(counter)
    counter += 1
print("End of the while loop")

Counting:
0
1
2
3
4
End of the while loop