<a href="https://colab.research.google.com/github/KinzaAslam/DSA_20SW071/blob/main/Lab_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [20]:
# Load your dataset (replace 'data.csv' with your dataset's filename)
# Load your dataset (replace 'data.csv' with your dataset's filename)
data = pd.read_csv('DataSet.csv')
print(data)

       step      type     amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0         1   PAYMENT    9839.64  C1231006815       170136.0       160296.36
1         1   PAYMENT    1864.28  C1666544295        21249.0        19384.72
2         1  TRANSFER     181.00  C1305486145          181.0            0.00
3         1  CASH_OUT     181.00   C840083671          181.0            0.00
4         1   PAYMENT   11668.14  C2048537720        41554.0        29885.86
...     ...       ...        ...          ...            ...             ...
28292     8  CASH_OUT    7270.37   C457003860            0.0            0.00
28293     8  CASH_OUT  113043.31  C1845952463            0.0            0.00
28294     8  CASH_OUT   89346.62   C140193335            0.0            0.00
28295     8  CASH_OUT  138651.85   C297851161            0.0            0.00
28296     8  CASH_OUT   61553.92  C1612091270            0.0            0.00

          nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
0      M1979787155            0.00            0.00      0.0             0.0
1      M2044282225            0.00            0.00      0.0             0.0
2       C553264065            0.00            0.00      1.0             0.0
3        C38997010        21182.00            0.00      1.0             0.0
4      M1230701703            0.00            0.00      0.0             0.0
...            ...             ...             ...      ...             ...
28292   C219416103      1523685.68      1530956.05      0.0             0.0
28293   C483817115     10085462.79     10014348.15      0.0             0.0
28294  C1326121635       112673.41       202020.02      0.0             0.0
28295  C1034382650       142758.39       281410.24      0.0             0.0
28296     C8733802       242151.60        30370.00      NaN             NaN

[28297 rows x 11 columns]

In [21]:
 # Drop rows with missing values (NaN)
data = data.dropna()

# Check the column names in your dataset
print(data.columns)

print(data)

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')
       step      type     amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0         1   PAYMENT    9839.64  C1231006815       170136.0       160296.36
1         1   PAYMENT    1864.28  C1666544295        21249.0        19384.72
2         1  TRANSFER     181.00  C1305486145          181.0            0.00
3         1  CASH_OUT     181.00   C840083671          181.0            0.00
4         1   PAYMENT   11668.14  C2048537720        41554.0        29885.86
...     ...       ...        ...          ...            ...             ...
28291     8  CASH_OUT   78635.42  C1046801601            0.0            0.00
28292     8  CASH_OUT    7270.37   C457003860            0.0            0.00
28293     8  CASH_OUT  113043.31  C1845952463            0.0            0.00
28294     8  CASH_OUT   89346.62   C140193335            0.0            0.00
28295     8  CASH_OUT  138651.85   C297851161            0.0            0.00

          nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
0      M1979787155            0.00            0.00      0.0             0.0
1      M2044282225            0.00            0.00      0.0             0.0
2       C553264065            0.00            0.00      1.0             0.0
3        C38997010        21182.00            0.00      1.0             0.0
4      M1230701703            0.00            0.00      0.0             0.0
...            ...             ...             ...      ...             ...
28291   C766681183     17277864.84     17356500.26      0.0             0.0
28292   C219416103      1523685.68      1530956.05      0.0             0.0
28293   C483817115     10085462.79     10014348.15      0.0             0.0
28294  C1326121635       112673.41       202020.02      0.0             0.0
28295  C1034382650       142758.39       281410.24      0.0             0.0

[28296 rows x 11 columns]

In [ ]:
# Select relevant features and target variable
X = data[['step', 'type', 'amount', 'oldbalanceOrg', 'newbalanceOrig', 'oldbalanceDest', 'newbalanceDest']]
y = data['isFraud']

In [ ]:
X = pd.get_dummies(data=X, columns=['type'], drop_first=True)

In [ ]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Implement and train the Decision Tree Classifier
dt_classifier = DecisionTreeClassifier()
dt_classifier.fit(X_train, y_train)

In [ ]:

# Predict with Decision Tree Classifier
dt_predictions = dt_classifier.predict(X_test)

In [ ]:


# Evaluate Decision Tree Classifier performance
dt_accuracy = accuracy_score(y_test, dt_predictions)
dt_precision = precision_score(y_test, dt_predictions)
dt_recall = recall_score(y_test, dt_predictions)
dt_f1 = f1_score(y_test, dt_predictions)

In [ ]:
# Implement and train the Naïve Bayes Classifier (Gaussian NB for continuous data)
nb_classifier = GaussianNB()
nb_classifier.fit(X_train, y_train)

In [ ]:
# Predict with Naïve Bayes Classifier
nb_predictions = nb_classifier.predict(X_test)

In [ ]:

# Evaluate Naïve Bayes Classifier performance
nb_accuracy = accuracy_score(y_test, nb_predictions)
nb_precision = precision_score(y_test, nb_predictions)
nb_recall = recall_score(y_test, nb_predictions)
nb_f1 = f1_score(y_test, nb_predictions)

In [ ]:

# Compare the performance of Decision Tree
print("Decision Tree Classifier:")
print(f"Accuracy: {dt_accuracy:.2f}")
print(f"Precision: {dt_precision:.2f}")
print(f"Recall: {dt_recall:.2f}")
print(f"F1 Score: {dt_f1:.2f}")

In [ ]:

# Compare the performance of Naïve Bayes
print("\nNaïve Bayes Classifier:")
print(f"Accuracy: {nb_accuracy:.2f}")
print(f"Precision: {nb_precision:.2f}")
print(f"Recall: {nb_recall:.2f}")
print(f"F1 Score: {nb_f1:.2f}")